html{
    position: relative;
    min-height: 100%;
}
nav{
    background-color:  #e3f2fd ;
} 
footer{
    background-color: #e3f2fd;
    position: absolute;
    bottom: 0;
}
.pic{
    margin:20px;
}
body {
    
    margin-bottom: 120px;
}
/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}
.marketing h2 {
   font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* .get_started{
    margin-top: 100px;
} */